.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
  }
  
  .form-group {
    margin-bottom: 1em;
  }
  .form-group textarea {
    max-width: 100%;
    min-width: 100%;
    height: fit-content;
  }
  .form-group label {
    display: block;
    margin-bottom: 0.5em;
  }

  

  
  .contact-info {
    margin-top: 2em;
  }
  
  .contact-info h2 {
    margin-top: 0;
  }
  
  .contact-info p {
    margin-bottom: 0.5em;
  }