body {
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 600px; 
    width: 1200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .chat-messages {
    flex: 1;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .chat-message {
    margin-bottom: 10px;
  }
  
  .chat-message .question {
    text-align: right;
    background-color: rgba(21, 101, 192, 0.5);
    color: black;
    border-radius: 5px;
    padding: 10px;
    align-self: flex-end;
    max-width: 40%;
    float: right;
  }
  
  .chat-message .answer {
    text-align: left;
    background-color: rgba(129, 212, 250, 0.3);
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    max-width: 40%;
  }
  
  .chat-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  
  .chat-input input,
  .chat-input button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  @media (max-width: 600px) {
    .chat-message .question,
    .chat-message .answer {
      max-width: 100%;
    }
  }


  .chat-products-container{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 30px;
    border: 0.5 solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .chat-products-header{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }
  .chat-product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0.5 solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    margin: 1%;
    padding: 15px;
  }

  .chat-product:hover{
    transition: transform 0.3s ease-in-out;
    transform: translateY(-13%);
  }