.header {
  margin: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  background-color: #a68e6c;
  transition: background-color 0.3s ease;
}

.navbar .button {
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.login-button-header{
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(243, 145, 145);
  padding: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 8px 8px 8px rgba(233, 15, 15, 0.2);
  transition:  0.4s ease-in-out;
}

.login-button-header:hover{
  background-color: #ad1d00c0;
  color: black;
  transition: 0.4s ease-in-out;
}