.header {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-auth {
  position: relative;
  margin-left: auto;
  margin-right: 1.5em;
}

.nav-item {
  position: relative;
  padding-right: 1em;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ccc;
}

.arrow-container{
  display: inline-block;
  margin: auto;
  margin-left: 0.5em;
}

.dropdown-menu-container {
  position: relative;
}

.dropdown-menu-button {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  margin: auto;
  background-color: #444;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #555;
}

.login-button-header {
  text-decoration: none;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
}

.login-button-header:hover {
  background-color: #555;
  color: #fff;
  transition: background-color 0.3s ease;
}

.logout-button-header {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.logout-button-header:hover {
  background-color: #555;
  color: #fff;
  transition: background-color 0.3s ease;
}

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-right .nav-item {
  margin-left: 20px;
}

.cart-count {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: red;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
}

@media screen and (max-width: 1270px) {
  .navbar {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    font-size: 8px;
  }
}