.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
    border-radius: 0.8em;
    z-index: 999;
    animation: slideIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 3.5s forwards;
    border: 1px solid #ddd;
    padding: 1em;
    width: 15em;
    height: 5em;
    text-align: center;
    margin-top: 1%;
    border-radius: 10px 5px 10px 5px;
  }

  .notification.initial {
    transform: translateY(-100%) translateX(-50%);
  }
  
  
  .notification .header {
    border-radius: 10px 5px 10px 5px;
    top: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding: 0.5em;
  }
  
  .notification .message {
    font-size: 1em;
    margin-bottom: 1em;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%) translateX(-50%);
    }
  
    100% {
      transform: translateY(0) translateX(-50%);
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }