.registerContainer {
  background-color: rgb(245, 229, 199);
    border-radius: 40px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(170, 165, 165, 0.22);
    padding: 1em;
    width: auto;
    height: auto;
    max-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    position:relative;
}

.registerForm{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

  div{
    margin: 1.9em;
  }

  input {
      margin-top: 0.2em;
      width: 100%;
      height: 1.5em;
      border-radius: 20px;
  }

  button {
      margin-bottom: 1.2em;
  }
}


button {
  height: 2.5em;
  width: 10em;
  border-radius: 0.5em;
  border: none;
  padding: 0.4em;
  background-color: var(--button-red);
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: var(--button-red-background);
  color: var(--primary-color-brown);
  transition: 0.3s ease-in-out;
}

