body{
    justify-content: center;
    background-color: #F2E6AC;
}
.loginContainer {
    color: #2D3845;
    margin: auto;
    position: relative;
    background-color: #8C6436;
    width: 400px;
    height: 300px;
    text-align: center;
    border-radius: 1em;
}

.form-group{
    position: relative;
    padding: 0.5em;
}

.login-button{
    background-color: #F2E6AC;
    color: #2D3845;
}

.login-button:hover{
    background-color: #A6A278;
}
