:root{
    --primary-color: #f7f7f7;
    --primary-color-brown : #a68e6c;
}

body{
    color: #b22106;
    background-color: blue;
    margin: auto;
}

p, a{
    color: #0F0F0F;
}

p, a:hover{
    color: #b22106;
}