@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --color-main-white: #E0E0E0;
    --color-main-beige: #c4b3a6;
    --color-main-brown: #99755C;
    --color-main-brown-hover: #b88b6b;
    --color-main-green-title: #374735;
    --color-main-green: #3c5a38;
}

:root {
    --primary-color:  #c4b3a6;
    --primary-color-brown: #a68e6c;
    --button-red: rgb(243, 145, 145);
    --button-red-background: #ad1d00c0;
    --form-background:rgb(245, 229, 199);
}

body {
    color: black;
    background-color: var(--color-main-white);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-size:18px;
}




input {
    height: 1em;
    border-radius: 0.5em;
    border: none;
    padding: 0.6em;

    ::placeholder {
        color: black;
    }
}

#root{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

